<configuration>
<!-- Appender for full INFO logs to file -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        <pattern>%msg%n</pattern>
        </encoder>
    </appender>


    <appender name="IMPORT" class="ch.qos.logback.core.FileAppender">
        <file>logs/omero_import_log.log</file>
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
    </appender>


    <!-- Appender for filtered console output -->
    <appender name="PROGRESS" class="ch.qos.logback.core.FileAppender">
        <file>logs/import_progress.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>message.contains("FILE_UPLOAD")</expression>
            </evaluator>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %replace(%msg){
                'FILE_UPLOAD_BYTES uploaded: (\d+) of: (\d+) bytes .*',
                '$1 $2'
                }%n
            </pattern>
        </encoder>
    </appender>


<!-- Root logger configuration -->
<root level="debug">
    <appender-ref ref="PROGRESS" />
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="IMPORT" />
</root>
</configuration>