{% extends "base.html" %}
{% block title %}OMERO Login{% endblock %}
{% block content %}
<h4 class="title is-4 has-text-dark pb-4">OMERO Login</h4>

<p>Click the button below to log in to OMERO:</p>
<a href="{{ url_for('login') }}" target="_blank">
    <button class="button is-small is-primary">Login to OMERO
    </button>
</a>

<br/>
<br/>
<p>After logging in, go to the session token page and copy the token.</p>
<p>Then <a href="{{ url_for('enter_token') }}">click here</a> to enter your session token.</p>

{% endblock %}